@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

.main-scroll-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  border: 2px solid black;
}

.control {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.content {
  flex: 12;
  margin: 5px;
}

.control-logo {
  font-family: "Playwrite GB S", cursive;
  color: black;
  font-weight: 800;
  font-size: 30px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-logo > p {
  font-size: 16px;
}

.control-choices {
  flex: 7;
  display: flex;
  flex-direction: column;
  z-index: 70;
}

.control-choices > div {
  font-family: "Playwrite GB S", cursive;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: text-shadow 0.2s;
}

.control-choices > div:hover {
  text-shadow: 0 0 5px white;
}

.content {
  font-family: "Playwrite GB S", cursive;
  color: black;
  font-weight: 400;
}

@media (max-width: 1025px) {
  .main-scroll-container {
    font-size: 14px;
  }
}

@media (max-width: 769px) {
  .main-scroll-container {
    flex-direction: column;
  }

  .control-logo {
    flex: 1;
  }

  .control-choices {
    flex-direction: row;
  }
}

@media (max-width: 425px) {
  .content {
    font-size: 12px;
    margin: 2px;
  }
  .control-logo {
    flex: 1;
  }
  .control-choices > div {
    font-size: 14px;
  }
}
