@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

.main-todo {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
}

.content-box {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 1025px) {
  .main-todo {
    font-size: 16px;
    text-align: center;
    flex-direction: column;
    max-height: 70vh;
  }
  .content-box {
    height: 300px;
    overflow-y: auto;
  }
}

@media (max-width: 769px) {
  .main-todo {
    font-size: 12px;
    text-align: center;
    flex-direction: column;
  }
  .content-box {
    max-height: 50vh;
    height: 300px;
    overflow-y: auto;
  }
}

@media (max-height: 600px) {
  .content-box {
    height: 300px;
    font-size: 12px;
    text-align: center;
    overflow-y: auto;
  }
}
